button {
  border: 2px solid #e3e3e3;
  background: white;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

.emoji-box {
  width: 80%;
  border: 1px solid #e0e0e0;
  margin: auto;
  text-align: center;
}
.hoverable:not([disabled]) {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform-style: preserve-3d;
}
.hoverable:active:not([disabled]),
.hoverable:focus:not([disabled]),
.emoji-category-select.selected,
.hoverable:hover:not([disabled]) {
  transform: perspective(1px) scale(1.148) translateZ(0);
}
.emoji-category-select.selected {
  border-color: #e0e0e0;
}
.emoji-category-select {
  border-radius: 50%;
  margin: 5px;
  font-size: 1.3rem;
  border-color: transparent;
}
.search-emoji {
  width: 80%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  outline: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.emoji-renderer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.emoji-result {
  /* border: 2px solid transparent; */
  font-size: 1.7rem;
  border: none;
  padding: 0;
  margin: 1rem;
}

.emoji-result:hover {
  border-color: #e0e0e0;
}
